<main>
  <h1 class="title my-5 page-title">Photo Gallery</h1>

  <hr>
  
  <div class="gallery-grid">
    <%= image_tag(asset_path('gallery/baptist-standaert-mx0DEnfYxic-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/cristian-castillo-73pyV0JJOmE-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/charles-deluvio-pOUA8Xay514-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/josephine-menge-h7VBJRBcieM-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/jametlene-reskp-VDrErQEF9e4-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/jaycee-xie-TcByXvrIrno-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/lui-peng-ybHtKz5He9Y-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/pauline-loroy-U3aF7hgUSrk-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/peri-stojnic-5Vr_RVPfbMI-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/t-r-photography-TzjMd7i5WQI-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/oscar-sutton-yihlaRCCvd4-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/austin-kirk-QZenflkkwt0-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/isabela-kronemberger-m8v7BDLV8yE-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/joe-caione-KVeogBZzl4M-unsplash.jpg')) %>
    <%= image_tag(asset_path('gallery/mathis-jrdl-5yAhL8ViUVg-unsplash.jpg'), class: 'image-grid-row-2') %>
    <%= image_tag(asset_path('gallery/matthew-foulds-BN6uvogY5VM-unsplash.jpg')) %> 
    
  </div>
</main>