<%= render partial: 'notifications', locals: { notice: notice, alert: alert } %>

<div class="columns">
  <div class="column"></div>

  <div class="column is-two-thirds">
    <div class="box m-6">

      <div class="columns">
        <div class="column">
          <h1 class="title"><%= @blog.title %></h1>
          <% if(is_admin? || current_user == @blog.user) %>
            <div class="buttons are-small">
              <%= link_to translate('edit'), edit_blogpost_path(@blog), class: 'button is-link' %>
              <%= link_to translate('delete'), blogpost_path(@blog), method: :delete, remote: true, class: 'button is-danger is-light' %>
            </div>
          <% end %>
        </div>

        <div class="level">
          <div class="media level-right">
            <div class="media-left level-item">
              <figure class="image is-48x48">
                <%= image_tag @blog.user.avatar, alt:  "Avatar for #{@blog.user.name}" %>
              </figure>
            </div>
            <div class="media-content">
              <p class="subtitle is-4 mb-0"><%= @blog.user.name %> 
                <%= render partial: 'role_tag', locals: { user: @blog.user } %>
              </p>
              <p class="menu-label mt-1"><%= @blog.created_at.strftime("%d %b '%y") %></p>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <p class="subtitle is-6 keep-format"><%= @blog.body %></p>

      <hr>
      <h6 class="menu-label"><%= translate('nocomments') %></h6>

    </div>
  </div>

  <div class="column"></div>
</div>