<div class="card">
  <%= link_to user_path(user) do %>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag user.avatar, alt:  "Avatar for #{user.name}" %>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag user.avatar, alt:  "Avatar for #{user.name}" %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= user.name %> 
          <%= render partial: 'role_tag', locals: { user: user } %>
        </p>
        <p class="subtitle is-6"><%= user.email %></p>
      </div>
    </div>

    <div class="content">
      <p class="keep-format"><%= user.introduction %></p>
      <%= render partial: 'dog_info', locals: { user: user } %>
      <hr>
      <p class="subtitle is-6"><%= translate('usage')%> <%= time_ago_in_words(user.created_at) %></p>
    </div>
  
    <hr>

    <div class="buttons">
      <%= link_to translate('edit'), edit_user_path(user), class: 'button is-link' %>
      <% if(user.role != 'admin') %>
        <%= link_to translate('delete'), user_path(user) , method: :delete, remote: true, class: 'button is-danger is-light' %>
      <% end %>
    </div>
  </div>
</div>