
<%= link_to trainer_path(trainer) do %>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag trainer.avatar, alt:  "Avatar for #{trainer.name}" %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= image_tag trainer.avatar, alt:  "Avatar for #{trainer.name}" %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= trainer.name %> 
            <%= render partial: 'role_tag', locals: { user: trainer } %>
          </p>
          <p class="subtitle is-6"><%= trainer.email %></p>
        </div>
      </div>

      <div class="content">
        <p class="keep-format"><%= trainer.introduction %></p>
        <%= render partial: 'dog_info', locals: { user: trainer } %>
        <hr>

        <p class="subtitle is-6"><%= translate('trainertime') %> <%= time_ago_in_words(trainer.created_at) %></p>
      </div>
    </div>
  </div>
<% end %>